In [41]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import os
import sys

# 添加项目根目录到路径
# sys.path.append(os.path.dirname(os.path.dirname(os.path.abspath(__file__))))

from postgres_manager import PostgreSQLManager
from advanced_manager import AdvancedPostgreSQLManager

In [42]:
db = PostgreSQLManager()

2025-09-23 13:43:21 | INFO | 数据库连接成功

In [43]:
hfq_close = pd.read_csv("D:/program_learning/光大实习/raw_data/hfq/close.csv",index_col='date')

In [44]:
c = hfq_close.iloc[:,:500]

In [45]:
c

,600000.SH,600004.SH,600006.SH,600007.SH,600008.SH,600009.SH,600010.SH,600011.SH,600012.SH,600015.SH,...,600645.SH,600648.SH,600649.SH,600650.SH,600651.SH,600653.SH,600654.SH,600655.SH,600657.SH,600658.SH
date,,,,,,,,,,,,,,,,,,,,,
2015-01-05,96.671576,16.021395,16.326623,20.396198,32.716495,49.796891,22.123511,28.356944,9.668132,28.111261,...,558.430582,151.600403,78.916209,48.307427,49936.521370,40370.330497,15603.768798,2256.498617,94.473250,38.096534
2015-01-06,97.032515,16.076404,16.588268,19.671460,35.990851,48.729641,21.561482,27.538955,10.201862,27.612981,...,541.205360,150.401981,78.916209,49.545323,50601.535577,41339.218429,15648.564306,2267.687866,89.161955,37.940657
2015-01-07,95.107506,15.911376,16.248130,19.658518,34.529568,48.947942,21.919137,27.508659,9.896874,27.280795,...,537.037967,151.738683,78.916209,51.343220,51327.005621,40908.601571,15364.859419,2340.417987,87.014836,38.158885
2015-01-08,91.738739,15.567570,15.724840,19.179673,34.231899,48.511340,21.561482,26.236232,9.622384,26.263475,...,527.452965,156.578465,78.916209,50.370587,50661.991414,41123.910000,15081.154532,2269.552741,81.477528,37.379496
2015-01-09,92.821557,15.636331,15.515525,18.985547,33.095346,48.390062,21.357108,25.933273,9.561386,26.657946,...,548.151014,151.784776,78.916209,49.103218,50057.433044,39939.713639,15125.950040,2198.687495,81.138509,37.254794
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-03-25,131.439969,20.351252,20.425460,38.766155,23.375872,85.740809,13.468424,27.605149,36.266713,34.832638,...,313.804648,67.659281,57.923942,48.084956,26634.382568,22392.076649,4276.011317,1265.507426,56.091270,21.720034
2025-03-26,129.705606,20.262576,20.851582,38.715590,23.155344,85.297232,13.540835,27.213031,36.825006,34.650981,...,308.387038,68.227369,57.923942,49.713193,27006.891415,22822.693508,4367.267656,1272.121576,56.615488,22.031061
2025-03-27,130.696671,20.240407,20.567501,38.479623,23.008326,85.323325,13.396013,26.860124,37.159982,34.741809,...,312.137691,68.170560,58.708465,48.500676,26944.806607,22499.730864,4289.047937,1269.916860,56.091270,21.616358
2025-03-28,129.333956,20.173899,21.107255,38.766155,23.008326,84.801470,13.251191,26.624853,37.718275,35.150537,...,332.002261,67.602472,59.362234,48.015669,26323.958528,22176.768220,4197.791598,1256.688559,55.960216,21.720034
2025-03-31,129.210073,20.040884,21.902684,38.766155,22.934817,84.357893,12.961548,27.134607,38.455222,35.559264,...,320.889215,66.579914,58.839219,48.084956,25951.449681,21746.151361,4210.828218,1239.050825,55.173890,21.201656

In [49]:
success = db.create_table("equity_fundamental_data.price_hfq_close",
                        c,overwrite=True)

2025-09-23 13:57:12 | INFO | [Function: create_table started...]
2025-09-23 13:57:12 | INFO | 直接使用传入的DataFrame，形状: (2488, 500)
2025-09-23 13:57:12 | ERROR | 创建表 equity_fundamental_data.price_hfq_close 失败: 错误:  关系 "price_hfq_close" 已经存在

2025-09-23 13:57:12 | ERROR | 详细错误信息: Traceback (most recent call last):
  File "d:\program_learning\factor_frame\Datadeal\postgres_manager.py", line 190, in create_table
    self._create_table_from_dataframe(table_name, df)
  File "d:\program_learning\factor_frame\Datadeal\postgres_manager.py", line 311, in _create_table_from_dataframe
    self.cursor.execute(create_sql)
  File "d:\ANACONDA\lib\site-packages\psycopg2\extras.py", line 236, in execute
    return super().execute(query, vars)
psycopg2.errors.DuplicateTable: 错误:  关系 "price_hfq_close" 已经存在


2025-09-23 13:57:12 | INFO | [Function: create_table completed, elapsed time: 0.02s]

In [52]:
'aaa.bbb'.split('.')[-1]

'bbb'

In [32]:
df = db.query_data("equity_fundamental_data.price_hfq_close", start_date='2016-01-01', end_date='2019-02-01')

2025-09-23 13:30:15 | INFO | [Function: query_data started...]
2025-09-23 13:30:15 | INFO | 执行查询: SELECT * FROM equity_fundamental_data.price_hfq_close WHERE datetime >= %s AND datetime <= %s ORDER BY datetime
2025-09-23 13:30:15 | INFO | 查询完成，返回数据形状: (754, 500)
2025-09-23 13:30:15 | INFO | [Function: query_data completed, elapsed time: 0.57s]

In [33]:
df

,600000.SH,600004.SH,600006.SH,600007.SH,600008.SH,600009.SH,600010.SH,600011.SH,600012.SH,600015.SH,...,600645.SH,600648.SH,600649.SH,600650.SH,600651.SH,600653.SH,600654.SH,600655.SH,600657.SH,600658.SH
datetime,,,,,,,,,,,,,,,,,,,,,
2016-01-04,112.068213,18.196811,20.919666,22.599994,25.149792,69.387952,16.656501,25.768408,18.841934,29.257577,...,812.780431,110.377588,259.985683,124.717572,80367.949643,53288.836257,43301.352782,2784.833489,72.062808,39.815073
2016-01-05,113.075567,18.336358,20.159427,22.089924,25.286475,70.590643,17.065249,25.705863,18.593195,29.411160,...,786.386946,111.536530,259.985683,128.515014,75102.880653,53181.182042,43301.352782,2903.457228,72.632925,38.611435
2016-01-06,113.957003,18.741041,20.657515,22.299184,25.696526,72.406954,18.495869,26.268766,18.904118,29.462354,...,824.032391,112.370968,259.985683,127.139562,79157.588956,55011.303691,43301.352782,2907.223061,74.457300,39.593350
2016-01-07,110.242382,17.331626,18.612735,20.075805,23.154210,68.700699,16.707594,24.361153,17.023034,27.465774,...,741.656934,101.430560,233.942213,114.431586,71290.244488,49843.901388,43301.352782,2673.741416,67.729917,35.634015
2016-01-08,110.116463,17.722355,18.691381,20.088883,24.247680,68.798878,18.138214,24.955327,17.100765,27.721746,...,790.137599,102.033210,210.592894,110.424836,69777.293629,51458.714607,43301.352782,2705.750996,69.440269,35.095545
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-01-28,98.832054,23.950289,10.164870,18.289706,19.560245,124.464073,10.708160,23.878465,9.535220,24.771495,...,227.400712,65.411822,64.014940,31.029092,20301.732167,22607.385079,2834.612428,1530.286347,51.244853,23.792550
2019-01-29,100.349628,23.671048,9.844717,18.070175,19.274277,125.278895,10.636772,24.018927,9.435025,24.903610,...,226.983973,64.314468,62.142473,30.340252,19991.308128,21961.459791,2744.146074,1540.083315,52.705513,23.084438
2019-01-30,99.590841,24.293970,9.657961,18.097616,19.159889,125.049726,10.565384,22.719657,9.301432,24.804524,...,223.788972,63.551092,63.078706,29.682724,19680.884088,21746.151361,2759.223799,1510.692412,51.366574,22.990023
2019-01-31,101.772355,25.367974,9.684640,18.221103,18.988308,125.533527,10.493996,22.544080,9.301432,25.002696,...,221.149623,63.026271,62.142473,29.087817,17694.170237,23899.235655,2623.524268,1500.895444,51.123131,21.951460
2019-02-01,102.151748,24.916893,9.844717,18.138779,19.388664,126.170106,10.708160,22.649427,9.501822,25.035724,...,229.901147,65.602666,64.248998,29.682724,16452.474080,22930.347723,2593.368817,1567.514824,51.731740,23.084438